body  {
  background-color: antiquewhite;
}
.page-Header  {
  background-color: rgb(21, 155, 233);
  text-align: center;
  border: 3px solid rgb(255, 38, 0);
  font-family: cursive;
}
.page-Header h2 {
  font-weight: bolder;
}
/* #start-Quiz {
  position: relative;
  left: 40%;
  width: 20%;
} */
#lang-Quiz, #output, #outputDescription {
  display: none;
}
#outputName {
  text-align: center;
  margin-top: 10%;
  margin-bottom: -4%;
  padding: 2%;
  font-weight: bold;
}
#output {
  text-align: center;
  margin-bottom: 2%;
  padding: 2%;
  font-weight: bold;
}
#outputDescription {
  text-align: center;
  font-weight: normal;
}
.btn {
  background-color: antiquewhite;
  color: black;
  border: 1px solid black;
}
.btn:hover  {
  background-color: rgb(29, 20, 11);
  color: antiquewhite;
}
.dm-BTN {
  position: relative;
  bottom: 83px;
  left: 5px;
  background-color: rgb(21, 155, 233);
  border: none;
}
.dm-BTN:hover {
  background-color: rgb(0, 81, 255);
}
.darkMode {
  background-color: black;
  color: antiquewhite;
}
.btn-DarkMode {
  background-color: black;
  color: antiquewhite;
  border: 1px solid antiquewhite;
}
.btn-DarkMode:hover  {
  background-color: antiquewhite;
  color: black;
}
.header-DM {
  background-color: rgb(126, 5, 5);
  border-color: rgb(0, 38, 143);
}
.dm-BTN-DM  {
  background-color: rgb(126, 5, 5);
  color:antiquewhite
}
.dm-BTN-DM:hover  {
  background-color: rgb(207, 10, 10);
}
.question  {
  position: relative;
  margin-top: 2%;
  margin-bottom: -3%;
  font-family: Georgia, serif;
}
.radio  {
  margin-bottom: -1.5%;
  font-family: "Gill Sans", sans-serif;
}
#output, #outputDescription, #outputName {
  font-family: 'Times New Roman', Times, serif;
}