body  {
  background-color: antiquewhite;
}
.page-Header  {
  background-color: rgb(21, 155, 233);
  text-align: center;
  border: 3px solid rgb(255, 38, 0);
  font-family: cursive;
}
.page-Header h2 {
  font-weight: bolder;
}
#startQuiz {
  text-align: center;
  position: relative;
  width: 30%;
}
#startQuizBTN {
  margin-top: 2%;
  background-color: antiquewhite;
  color: black;
  border: 1px solid black;
}

#lang-Quiz, .output, #outputDescription, #cheese-Quiz, #other-quiz, #thrd-Quiz, #outputBS, #outputS, #outputKT, #outputT, #outputC, #outputB, #outputIS {
  display: none;
}
#outputName {
  text-align: center;
  margin-top: 10%;
  margin-bottom: -1%;
  padding: 2%;
  font-weight: bold;
}
.output {
  position: relative;
  left: 30%;
  text-align: center;
  margin-bottom: 2%;
  width: 40%;
  font-weight: bolder;
  border: 2px solid rgb(21, 155, 233);
  background-color: rgb(21, 155, 233);
}
#outputDescription {
  text-align: center;
  font-weight: normal;
}
.btn {
  background-color: antiquewhite;
  color: black;
  border: 1px solid black;
  margin-top: 3%;
}
.btn:hover  {
  background-color: rgb(29, 20, 11);
  color: antiquewhite;
}
.dm-BTN {
  position: relative;
  bottom: 83px;
  left: 5px;
  background-color: rgb(21, 155, 233);
  border: none;
}
.dm-BTN:hover {
  background-color: rgb(0, 81, 255);
}
.darkMode {
  background-color: black;
  color: white;
}
.btn-DarkMode {
  background-color: black;
  color: white;
  border: 1px solid white;
}
.btn-DarkMode:hover  {
  background-color: white;
  color: black;
}
.header-DM {
  background-color: rgb(126, 5, 5);
  border-color: rgb(0, 38, 143);
}
.dm-BTN-DM  {
  background-color: rgb(126, 5, 5);
  color:white;
}
.dm-BTN-DM:hover  {
  background-color: rgb(207, 10, 10);
}
.outputDM {
  position: relative;
  left: 30%;
  text-align: center;
  margin-bottom: 2%;
  width: 40%;
  font-weight: bolder;
  border: 2px solid rgb(126, 5, 5);
  background-color: rgb(126, 5, 5);
}
.question  {
  position: relative;
  margin-top: 2%;
  margin-bottom: -3%;
  font-family: Georgia, serif;
}
.radio  {
  margin-bottom: -1.5%;
  font-family: "Gill Sans", sans-serif;
}
.output, #outputDescription, #outputName {
  font-family: 'Times New Roman', Times, serif;
}
#other-quiz {
  position: relative;
  left: 68%;
}
img {
  position: relative;
  left: 20%;
  width: 60%;
}