body  {
  background-color: antiquewhite;
}
.page-header  {
  background-color: rgb(21, 155, 233);
  text-align: center;
  border: 3px solid rgb(255, 38, 0);
}
#start-Quiz {
  position: relative;
  left: 40%;
  width: 20%;
}
#lang-Quiz, #output {
  display: none;
}
#output {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 2%;
  padding: 2%;
  font-weight: bold;
}
#output-des {
  text-align: center;
  font-weight: normal;
}